@font-face {
  font-family: "AvenirNextLTPro";
  src: url("/src/assets/fonts/ttf/AvenirNextLTPro.ttf") format("truetype");
}

@font-face {
  font-family: "AvenirNextLTPro";
  font-weight: 600;
  src: url("/src/assets/fonts/ttf/AvenirNextLTProDemi.ttf") format("truetype");
}

@font-face {
  font-family: "AvenirNextLTPro";
  font-weight: 700;
  src: url("/src/assets/fonts/ttf/AvenirNextLTProBold.ttf") format("truetype");
}
